.AccountPage {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.AccountPage > div {
  display: flex;
  width: 100%;
}
.AccountPage > div label {
  display: inline-block;
  width: 60px;
}

.AccountPage > div input {
  width: 100%;
  flex: 1;
  margin-right: 10px;
}

.AccountPage > div button {
  padding: 0 8px;
  margin-left: auto;
}
.AccountPage .user_id {
}
.AccountPage .nickname {
}
.AccountPage .password {
}
.AccountPage .email {
}
