.AuthForm {
  width: 100%;
  height: 100dvh;
}

.AuthForm > section {
  width: 250px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Title {
  font-size: 26px;
  color: #313131;
  letter-spacing: 1px;
  text-align: center;
}
.sub-title {
  font-size: 16;
  text-align: center;
  margin-bottom: 20px;
}

.Tab {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}
.Tab ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: rgb(240, 240, 240);
  padding: 4px;
}
.Tab ul li {
  width: 50%;
  font-size: 14px;
  padding: 4px 0;
  color: #d9d9d9;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.Tab ul li.active {
  color: #676767;
  background-color: #fff;
}

form {
  width: 100%;
  height: fit-content;
}

.FormWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.FormWrap input,
.FormWrap button {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  padding: 0 8px;
  line-height: 30px;
}

.FormWrap button {
  margin-top: 10px;
  color: #fff;
  background-color: rgb(100, 201, 100);
}

.remember-id-checkbox {
  display: flex;
  gap: 10px;
}
.remember-id-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.remember-id-checkbox input[type="checkbox"] + label {
}
