.button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  height: 40px;
  font-size: 16px;
  white-space: nowrap;
}

.button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: #fff;
}
.button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: #fff;
}
