.DiaryList {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.DiaryList .menu_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 10px 20px 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.DiaryList .menu_bar .date_input {
  display: flex;
  gap: 8px;
}

.DiaryList .menu_bar .date_input .date {
  position: relative;
}

.DiaryList .menu_bar .date_input .date label {
  position: absolute;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  align-content: center;
  padding-left: 10px;
}

.DiaryList .menu_bar .date_input .date label.disable {
  display: none;
}

.DiaryList .menu_bar .date_input .date input {
  width: 150px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  font-size: 16px;
  padding: 0 5px 0 10px;
  height: 40px;
  line-height: 1;
}

.DiaryList .list_wrapper {
  height: calc(100% - 110px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DiaryList .new_diary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 8px;
}

.DiaryList .new_diary button {
  flex: 1;
  font-size: 16px;
}

.DiaryList .new_diary button:first-child {
  width: 100px;
  flex: none;
}
