.DiaryItem {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 0 10px;
}
.DiaryItem:hover {
  background-color: rgba(100, 201, 100, 0.1);
}

.DiaryItem .img_section {
  width: 90px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.DiaryItem .img_section > img {
  width: fit-content;
}

.DiaryItem .img_section_1 {
  background-color: rgb(100, 201, 100);
}
.DiaryItem .img_section_2 {
  background-color: rgb(157, 215, 114);
}
.DiaryItem .img_section_3 {
  background-color: rgb(253, 206, 23);
}
.DiaryItem .img_section_4 {
  background-color: rgb(253, 132, 70);
}
.DiaryItem .img_section_5 {
  background-color: rgb(253, 86, 95);
}

.DiaryItem .info_section {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.DiaryItem .info_section .user_date_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.DiaryItem .info_section .user_date_info .nickname {
  font-size: 20px;
  font-weight: bold;
}
.DiaryItem .info_section .user_date_info .date {
  font-size: 14px;
  color: rgb(156, 156, 156);
}

.DiaryItem .info_section .content_info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.DiaryItem .info_section .content_info .content {
  flex: 1;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
}
.DiaryItem .info_section .content_info .button_section {
  align-self: flex-end;
}

.DiaryItem .info_section .content_info .button_section button {
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
}
