.DiaryList {
  margin: 20px 0px;
}

.DiaryList .menu_bar {
  display: flex;
  gap: 10px;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.DiaryList .menu_bar input[type="date"] {
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  font-size: 16px;
  padding: 0 10px;
  line-height: 1;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  flex: 1;
  font-size: 16px;
}
