.DiaryList {
  width: 100%;
  overflow: hidden;
}

.DiaryList .menu_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 10px 10px 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.DiaryList .menu_bar input[type="date"] {
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  font-size: 16px;
  padding: 0 5px 0 10px;
  height: 40px;
  line-height: 1;
}

.DiaryList .menu_bar button {
  flex: 1;
  font-size: 16px;
}

.DiaryList .list_wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 20px;
}
