.Editor {
  padding: 10px;
  height: calc(100dvh - 105px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Editor section {
}

.Editor section h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.Editor .date_section input,
textarea {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
}
.Editor .content_section {
  height: 100%;
}
.Editor .content_section textarea {
  width: 100%;
  min-height: 200px;
  height: calc(100% - 24px);
  resize: none;
  box-sizing: border-box;
  padding: 20px;
  scrollbar-width: thin;
}

.Editor .content_section textarea.editMode {
  border: 2px solid rgb(236, 236, 236);
  background-color: #fff;
}
.Editor .emotion_section .emotion_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.Editor .button_section {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.Editor .button_section button {
  flex: 1;
}
