.Editor h4 {
  font-size: 22px;
  font-weight: bold;
}
.Editor .date_section input,
textarea {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
}
.Editor .content_section textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  box-sizing: border-box;
  padding: 20px;
}
.Editor .emotion_section .emotion_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.Editor .content_section {
}
.Editor .button_section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
