.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(100, 201, 100);
  height: 5dvh;
  padding: 0 10px;
}

.title {
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  align-content: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-name {
  font-size: 14px;
}

.logout {
  font-size: 12px;
  padding: 0 8px;
  line-height: 12px;
  border-radius: 3px;
  border: none;
  height: 3dvh;
  cursor: pointer;
}
