.Viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
}

.Viewer > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Viewer > section.content_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - 198px);
}

.Viewer > section > h4 {
  font-size: 22px;
  font-weight: bold;
}
.Viewer .emotion_img_wrapper {
  width: 200px;
  height: 150px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
}

.Viewer .emotion_img_wrapper img {
  width: 100px;
}

.Viewer .emotion_img_wrapper_1 {
  background-color: rgb(100, 201, 100);
}
.Viewer .emotion_img_wrapper_2 {
  background-color: rgb(157, 215, 114);
}
.Viewer .emotion_img_wrapper_3 {
  background-color: rgb(253, 206, 23);
}
.Viewer .emotion_img_wrapper_4 {
  background-color: rgb(253, 132, 70);
}
.Viewer .emotion_img_wrapper_5 {
  background-color: rgb(253, 86, 95);
}

.Viewer .content_wrapper {
  width: 100%;
  height: calc(100% - 36px);
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.Viewer .content_wrapper > p {
  padding: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
