@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

@font-face {
  font-family: "GangwonEducationSaeum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "MitmiFont";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OngleipKonkon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OngleipKonkon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
video,
audio,
iframe {
  display: block;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
figure {
  width: fit-content;
  height: fit-content;
}
table,
th,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #313131;
  background-color: #f7f8f9;
}

#root {
  background-color: #fff;
  max-width: 600px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}

.no-data {
  padding: 50px 10px;
  text-align: center;
}

header + div {
  position: relative;
  height: calc(90vh - 10px);
}
